{% extends "base/listas.html" %}
{% load crispy_forms_tags %}
{% block listatitulo %}


    <h4>{{ auxiliar.etiqueta }}</h4>

    <button class="btn btn-mini btn-primary" type="button" onclick="document.location.href='{{ acciones.crear}}';return false;"> Añadir Nuevo {{ auxiliar.etiqueta }}</button>
{% endblock %}



{% block titulotabla %}
    <tr>
        {%  for obj in cabezera %}
            <th>{{ obj }}</th>
        {%  endfor %}
    </tr>
{%  endblock %}
{% block cuerpotabla %}
    {% if object_list %}
        {% for object in object_list %}
            <tr>

                <td>
                    <a href="{{ object.get_absolute_url }}">
                        {{ object.denominacion }}
                    </a>
                </td>
                <td>

                    <button  class="btn btn-mini" type="button" onclick="document.location.href='{{ acciones.ira }}/{{ object.id }}/';return false;">Añadir/Editar</button>
                </td>
                <td>
                    <button  class="btn btn-mini" type="button" onclick="document.location.href='{{ object.urlDocumentos }}';return false;">Documentos</button>

                </td>
                {% if object.urlImpresion != None %}
                    <td>
                        <button  class="btn btn-mini" type="button" onclick="document.location.href='{{ object.urlImpresion }}';return false;">Imprimir</button>
                    </td>
                {% endif %}
                <td>
                    <button  class="btn btn-mini btn-danger" type="button" onclick="document.location.href='{{ acciones.eliminar }}/{{ object.id }}/';return false;">Eliminar</button>
                </td>
            </tr>
        {% endfor %}


    {% else %}
        <p>No Existen {{ auxiliar.etiqueta }} Creadas.</p>
    {% endif %}
{% endblock %}