{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load selectable_tags %}
{% include_jquery_libs %}
{% include_ui_theme 'ui-lightness' %}
{% block extrahead %}
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/themes/base/jquery-ui.css" type="text/css">
    <link href="{{ STATIC_URL }}selectable/css/dj.selectable.css" type="text/css" media="all" rel="stylesheet">
    <link href="{{ STATIC_URL }}stilearn/css/colorpicker.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}spectrum/css/spectrum.css" rel="stylesheet">
{% endblock %}
{% block body %}


            <div class="box corner-all">
                <div class="box-header grd-white color-silver-dark corner-top" >
                    <div class="header-control">
                        <a data-box="collapse"><i class="icofont-caret-up"></i></a>
                        <a data-box="close">×</a>
                    </div>
                    <span>  Editar {{ auxiliar.etiqueta }} </span>

                </div>
                <div class="box-body">
                    <form action="." method="post">

                            {%  crispy  form %}

                    </form>
                </div>
            </div>

{%  endblock %}

{% block footer %}
    <script type="text/javascript" src="{{ STATIC_URL }}selectable/js/jquery.dj.selectable.js"></script>
    <script src="{{ STATIC_URL }}stilearn/js/colorpicker/bootstrap-colorpicker.js"></script>
    <script src="{{ STATIC_URL }}spectrum/js/spectrum.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#button-id-cancel').click(function () {
                parent.history.back();
            })
            $('[data-form=datepicker]').datepicker({format : 'dd/mm/yyyy',  language: 'es'  });
            <!--$('[data-form=colorpicker]').colorpicker(); -->
            $('#id_colortxt').spectrum({
            	preferredFormat: "hex",
            	showPaletteOnly: true,
            	showInput: true,
            	showPalette: true,
            	hideAfterPaletteSelect:true,
            	chooseText: "Ok",
            	change: function(color) {
                    //document.getElementById("id_colortxt").value = color
            		this.value = color
                },
                palette: [
                    ['rgb(0,0,0);', 'rgb(255, 255, 255);']
                ]
            });
            $('#id_colorback').spectrum({
            	preferredFormat: "hex",
            	showPaletteOnly: true,
            	showInput: true,
            	showPalette: true,
            	hideAfterPaletteSelect:true,
            	chooseText: "Ok",
            	change: function(color) {
                    this.value = color                    
                },
                palette: [
                    ['rgb(3, 18, 156);', 'rgb(104, 208, 253);', 'rgb(0,0,0);'],
                    ['rgb(252, 0, 0);', 'rgb(252,252,0);', 'rgb(17,252,0);'],
                    ['rgb(252, 0, 243);', 'rgb(252,117,0);', 'rgb(100,100,100);'],
                    ['rgb(124, 68, 47);', 'rgb(145,249,41);', 'rgb(110,24,208);'],
                    ['rgb(9, 128, 13);', 'rgb(255,172,255);', 'rgb(253,255,172);']
                ]
            });
            $('[data-form=uniform]').uniform()

            // wysihtml5
            $('[data-form=wysihtml5]').each(function(index)
            {
                $(this).wysihtml5();
            });


        });

    </script>
{%  endblock %}