
{% block body %}
    <div class="row-fluid">
        <div class="span12">
            <div class="box-body">
                <div id="impregModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="impregModalLabel"> <span> Impresión Registros </span></h3>
                    </div>
                    <div class="modal-body">
                        <div class="box-body">
                            <div id="arbol"></div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger"  data-dismiss="modal" aria-hidden="true">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}

