{% extends "base/base.html" %}
{% load dajaxice_templatetags %}
{% load crispy_forms_tags %}
{% load selectable_tags %}
{% include_jquery_libs %}
{% include_ui_theme 'ui-lightness' %}
{% block extrahead %}
    {% dajaxice_js_import %}
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/themes/base/jquery-ui.css" type="text/css">
    <link href="{{ STATIC_URL }}selectable/css/dj.selectable.css" type="text/css" media="all" rel="stylesheet">
    <style type="text/css">
        .add-row {
            padding-left:18px;
            background:url({{ STATIC_URL }}images/add.png) no-repeat left center;
        }
        .delete-row {
            display:block;
            margin:6px 0 0 0;
            padding-left:18px;
            background:url({{ STATIC_URL }}images/delete.png) no-repeat left center;
        }
        .dynamic-form {
            margin-bottom:6px;
            padding-bottom:6px;
            border-bottom:1px dotted #ccc;
        }
    </style>
{% endblock %}

{% block body %}


        <form id="analiticas" action="." method="post">{% csrf_token %}
                <div class="box corner-all">
                    <div class="box-header grd-white color-silver-dark corner-top" >
                        <div class="header-control">
                            <a data-box="collapse"><i class="icofont-caret-up"></i></a>
                            <a data-box="close">×</a>
                        </div>
                        <span>  {{ auxiliar.etiqueta }} </span>

                    </div>
                    <div class="box-body">

                        {%  crispy  form form.helper %}

                    </div>

                    <div class="box-body">
                        {{ form_detail.management_form }}
                        <table id="detalleanaliticas" class="table table-bordered table-striped responsive dataTable">
                            <thead>
                            <th>Parametro</th>
                            <th>Valor</th>
                            <th>Accion</th>
                            </thead>


                            {%  for form_line in form_detail %}
                                {%  crispy form_line form_line.helper %}
                            {% endfor %}

                        </table>

                        <div class="form-actions">

                            <input id="submit-id-update" class="btn btn-primary" type="submit" value="Guardar" name="Update">
                            <input id="button-id-cancel" class="btn" type="button" value="Cancelar" name="cancel">

                        </div>

                    </div>

                </div>

        </form>
        {% include "base/mensajes_error.html" %}
        {% include "base/dialogo_mensajes.html" %}

{%  endblock %}

{% block footer %}
    <script src="{{ STATIC_URL }}js/jquery.formset.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}selectable/js/jquery.dj.selectable.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}dajax/jquery.dajax.core.js"></script>
    <script type="text/javascript">

        $(document).ready(function() {
            $('#button-id-cancel').click(function () {
                parent.history.back();
            });
            $('.form-row.inline.{{ form_detail.prefix }}').formset({
                prefix: '{{ form_detail.prefix }}',
            });
            $('[data-form=datepicker]').datepicker({format : 'dd/mm/yyyy',  language: 'es'  });


            $('#detalleanaliticas td [id*=valores]').focusout(function(event) {
                var cabregid=0;
                var cabanaid=0;
                var loc = window.location.toString()
                var crear = "/crear/"
                var actua = "/actualizar/"
                var aid   = loc.split("/")

                var vid   = aid[6]
                if (loc.search(crear)!=-1 )
                {

                    var cabregdi = vid
                }
                if (loc.search(actua)!=-1 )
                {

                    var cabanaid = vid
                }


                aidparametro    = $(this).attr('id').split('-')
                var iddompara   = '#'+aidparametro[0]+"-"+aidparametro[1]+"-"+"parametros_1"
                var paraid       = $(iddompara).val()
                var valor       = $(this).val()

                if ( valor.length !=0 && paraid.length!=0 && !isNaN(paraid) )
                {

                Dajaxice.appcc.validaAnaliticas(Dajax.process,{'valor': valor,'paraid' : paraid, 'cabregid':cabregid,'cabanaid': cabanaid } )

                }
            });



        });
    </script>



{%  endblock %}